@font-face {
    font-family: 'sofia_prolight';
    src: url('font/sofiapro-light-webfont.eot');
    src: url('font/sofiapro-light-webfont.eot?#iefix') format('embedded-opentype'), url('font/sofiapro-light-webfont.woff2') format('woff2'), url('font/sofiapro-light-webfont.woff') format('woff'), url('font/sofiapro-light-webfont.ttf') format('truetype'), url('font/sofiapro-light-webfont.svg#sofia_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    overflow: hidden;
    margin: 0;
    background-image: url("images/XX.jpg");
    background-repeat: no-repeat;
    font-family: 'sofia_prolight';
}

.hello {
    position: absolute;
    top: 35%;
    left: 38%;
}

.title li {
    display: inline-block;
    margin-right: 20px;
    font-size: 80px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #000;
    opacity: 0.8;
}

.video {
    z-index: 0;
}


.enter {
    position: absolute;
    top: 53%;
    left: 47%;
    display: none;
}

.button {
    font-size: 25px;
    padding: 15px 45px;
    background-color: transparent;
    background-image: linear-gradient(to top right, rgba(79, 208, 55, 1) 0%, rgba(227, 2, 62, 1) 40%, rgba(49, 228,225, 1) 100%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    background-size: 0;
    background-repeat-x: no-repeat;
    border-image: linear-gradient(to top right, rgba(79, 208, 129, 1) 0%, rgba(227, 2, 62, 1) 40%, rgba(49, 128, 225, 1) 100%);
    border-image-slice: 1;
    border-image-width: 3px;
    transition: all 0.5s ease;
}

.button:hover {
    background-size: 100%;
    cursor: pointer;
    color: white;
}

.button span {
    background: linear-gradient(to top right, rgba(225, 28, 129, 1) 0%, rgba(227, 2, 62, 1) 40%, rgba(49, 128,225, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bolder;
    transition: all .5s ease;
}

.button:hover span{
    color:white;
     text-shadow: 2px 2px 4px #000;
    transition: all .5s ease;
}
