html {
    width: 100%;
    height: auto;
}

body {
    /*    background-image: linear-gradient(to bottom right, #FFFCEC 20%, #FFF4FE, #EEF4FE, #F4F0FF);*/
    background: white;
    overflow: scroll;
    margin: 0px;
    font-family: Roboto;
    font-weight: 300;
    letter-spacing: 1px;

}

/*Header*/
#big_title {
    font-size: 3em;
}

#section {
    height: 15vh;
    padding-top: 2%;
    padding-left: 25%;
    padding-right: 25%;
}

#Header {
    background: white;
    height: 120vh;
}

#Header img {
    padding-top: 7%;
    width: 100%;
}

#title {
    font-size: 1em;
    color: #4958DD;
}

#role {
    float: right;
    padding-right: 10%;
}

#overview {
    float: left;
    width: 65%;
}

#Header p {
    line-height: 20px;
    font-size: 0.9em;
}

/*Header*/

/*Main*/
#main {
    margin: 0;
    padding-left: 25%;
    padding-right: 25%;
}

#main p {
    float: left;
    font-size: 1.3em;
    line-height: 30px;
}

#main img {
    width: 100%;
}

/*main*/






/*navigation*/
.nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    margin: 0px;
    text-align: right;
    letter-spacing: 3px;
    padding: 45px 0px 0px 0px;
    display: block;
    font-weight: 500;
    font-size: 14px;
}

.nav li {
    display: inline;
    padding-right: 3%;
}

.nav li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.nav li a:hover {
    color: black;
}

#about,
#work {
    display: inline-block;
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: all 250ms ease;
    transform: translatez(0);
    perspective: 50px;
}


#about::before,
#work::before {
    content: attr(data-buzz);
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    transition: all 150ms ease;
}

#about::before {
    color: #c998db;
}

#work::before {
    color: #f0c8a1;
}

#about:hover::before,
#work:hover::before {
    transform: rotatex(-15deg) rotatey(5deg) scale(1.15);
}


#active a {
    color: black;
    border-bottom: solid 1px #000000;
    display: inline;
    padding-bottom: 3px;
    cursor: none;
}

#active: hover {
    display: none;
    cursor: auto;
}

/*navigation*/

/*footer*/
#footer {
    height: 50vh;
}

#footer {
    background: black;
}

#footer_work {
    line-height: 2em;
    float: left;
    padding-top: 5%;
    padding-left: 10%;
    width: 35%;
    color: rgba(255, 255, 255, 0.6);
}

#footer_About {
    float: right;
    padding-top: 5%;
    padding-right: 5%;
    width: 35%;
    color: rgba(255, 255, 255, 0.6);
}

#footer_connect {
    float: right;
    padding-right: 5%;
    width: 35%;
    color: rgba(255, 255, 255, 0.6);
}

.big_title_work {
    background: -webkit-linear-gradient(left, #efe0a3, #eaabc8, #91b6ea, #aba7fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    padding-left: 3%;
}

.big_title_about {
    background: -webkit-linear-gradient(left, #eaabc8, #91b6ea, #91b6ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    padding-left: 3%;
}

.big_title_connect {
    background: -webkit-linear-gradient(left, #aba7fc, #efe0a3, #efe0a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    padding-left: 3%;
}

.small_title {
    margin-bottom: 2%;
    font-size: 1em;
    padding-left: 3%;
}

#footer_work a:hover {
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

#footer_About li {
    display: inline;
    text-decoration: none;
    padding-right: 5%;
}


#footer_work li {
    display: inline;
    text-decoration: none;
    padding-right: 3%;
    padding-left: 3%;
}

#footer_connect li {
    display: inline;
    text-decoration: none;
    padding-right: 8%;
}

#footer_About a:hover {
    color: white;
    cursor: pointer;
}

#footer_connect a:hover {
    color: white;
    cursor: pointer;
}
#footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}


/*logo*/
#logo {
    float: left;
    width: 4%;
    margin-left: 30px;
    margin-top: -20px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

/*logo*/

/*footer*/
