html {
    width: 100%;
    height: auto;
}

body {
    background-color: #F9F8F5;
    overflow: scroll;
    margin: 0px;
    font-family: Roboto;
    font-weight: 300;
    letter-spacing: 1px;

}


/*Main*/
#main {
    margin: 0;
    padding-top: 10%;
    height: auto;
}

#title {
    font-size: 2em;
    color: gray;
}

#right {
    float: right;
    width: 60%;

}

#left {
    float: left;
    bottom: 0%;
    width: 30%;
    padding-top: 5%;
}

#video{
    width: 100%;
}

img {
    width: 100%;
}

.button a {
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.button {
    padding: 5% 20% 5% 20%;
    background-color: white;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
}

button {
    margin-top: 3%;
}

#section {
    background: #F9F8F5;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}

/*Header*/


#Header {
    background: #F9F8F5;
    height: auto;
    text-align: left;
    height: 30vh;
    padding-left: 10%;
    padding-right: 10%;
}

#Header p {
    font-size: 1.5em;
    line-height: 20px;
}

#Header h1 {
    font-size: 3em;
    color: black;

}

/*Header*/


/*Music */

#music {
    background: white;
    padding-top: 10%;
    height: 70vh;
    background: white;
    padding-left: 5%;
    padding-right: 5%;

}

#music p {
    line-height: 30px;
    font-size: 1.1em;
}

/*Music */

/*Music */

#yellow {
    background: white;
    padding-top: 10%;
    height: 65vh;
    background: white;
    padding-left: 5%;
    padding-right: 5%;

}

#yellow p {
    line-height: 30px;
    font-size: 1.1em;
}

/*Music */

/*water */

#water {
    background: white;
    padding-top: 10%;
    height: 65vh;
    background: white;
    padding-left: 5%;
    padding-right: 5%;

}

#water p {
    line-height: 30px;
    font-size: 1.1em;
}

#water #left {
    padding-top: 0%;
}

/*water */
/*main*/



/*navigation*/
.nav {
    font-family: 'Comfortaa';
    position: fixed;
    z-index: 100;
    width: 100%;
    margin: 0px;
    text-align: right;
    letter-spacing: 1px;
    padding: 45px 0px 0px 0px;
    display: block;
    font-weight: 500;
    font-size: 14px;
}

.nav li {
    display: inline;
    padding-right: 3%;
}

.nav li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.nav li a:hover {
    color: black;
}

#about,
#work {
    display: inline-block;
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: all 250ms ease;
    transform: translatez(0);
    perspective: 50px;
}


#about::before,
#work::before {
    content: attr(data-buzz);
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    transition: all 150ms ease;
}

#about::before {
    color: #c998db;
}

#work::before {
    color: #f0c8a1;
}

#about:hover::before,
#work:hover::before {
    transform: rotatex(-15deg) rotatey(5deg) scale(1.15);
}


#active a {
    color: black;
    border-bottom: solid 1px #000000;
    display: inline;
    padding-bottom: 3px;
    cursor: none;
}

#active: hover {
    display: none;
    cursor: auto;
}

/*navigation*/


/*moblie nav*/
.wrapper {
    display: none;
    z-index: 99;
}

.nav-bar {
    position: fixed;
    top: 0;
    height: 6%;
    width: 100%;
    background: transparent;
    z-index: 99;
}

.logo {
    display: inline-block;
    max-width: 32%;
    padding: 1%;
}

/*hamberger menu*/

.hamberger {
    position: fixed;
    top: 2%;
    right: 5%;
    cursor: pointer;
    z-index: 1002;
    /*on top of all elements*/
}

.hamberger .line {
    background: black;
    width: 25px;
    height: 3px;
    margin-bottom: 4px;
    opacity: 1;
    border-radius: 4px;
    transition: all 0.2s ease;
}


/*nav bar down down thing*/

.menu {
    position: fixed;
    top: -250%;
    /*makes it move to the top of the web page (cant see it) */
    left: 0px;
    width: 100%;
    height: 30%;
    background: white;
    opacity: 1;
    z-index: 1001;
    transition: all 0.5s ease;
}

.menu-item {
    list-style: none;
    text-align: center;
    margin-top: 60px;
    padding: 0px;
}

.menu-item li {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    color: black;
}

.menu-item li a {
    color: black;
    text-decoration: none;
}


.menu.menu-active {
    top: 0;
}

/*Creating x close button*/
.hamberger .top.hamberger-top {
    transform: translateY(250%) rotate(135deg);
}

.hamberger .bottom.hamberger-bottom {
    transform: translateY(-200%) rotate(-135deg);
}

.hamberger .center.hamberger-center {
    opacity: 0;
}


/*mobile nav*/



/*footer*/
#footer {
    height: 50vh;
}

#footer {
    background: black;
}

#footer_work {
    line-height: 2em;
    float: left;
    padding-top: 5%;
    padding-left: 10%;
    width: 35%;
    color: rgba(255, 255, 255, 0.6);
}

#footer_About {
    float: right;
    padding-top: 5%;
    padding-right: 5%;
    width: 35%;
    color: rgba(255, 255, 255, 0.6);
}

#footer_connect {
    float: right;
    padding-right: 5%;
    width: 35%;
    color: rgba(255, 255, 255, 0.6);
}

.big_title_work {
    background: -webkit-linear-gradient(left, #efe0a3, #eaabc8, #91b6ea, #aba7fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    padding-left: 3%;
}

.big_title_about {
    background: -webkit-linear-gradient(left, #eaabc8, #91b6ea, #91b6ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    padding-left: 3%;
}

.big_title_connect {
    background: -webkit-linear-gradient(left, #aba7fc, #efe0a3, #efe0a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    padding-left: 3%;
}

.small_title {
    margin-bottom: 2%;
    font-size: 1em;
    padding-left: 3%;
}

#footer_work a:hover {
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

#footer_About li {
    display: inline;
    text-decoration: none;
    padding-right: 5%;
}


#footer_work li {
    display: inline;
    text-decoration: none;
    padding-right: 3%;
    padding-left: 3%;
}

#footer_connect li {
    display: inline;
    text-decoration: none;
    padding-right: 8%;
}

#footer_About a:hover {
    color: white;
    cursor: pointer;
}

#footer_connect a:hover {
    color: white;
    cursor: pointer;
}

#footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.hide {
    display: none;
}

/*logo*/
#logo {
    float: left;
    width: 4%;
    margin-left: 30px;
    margin-top: -20px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

/*logo*/

/*footer*/




/*-------------------------------mobile---------------------------------------------*/



@media screen and (max-width: 500px) {


    /*    menu*/
    .wrapper {
        display: block;
        z-index: 99;
    }

    .nav {
        visibility: hidden;
    }

    /*    menu*/

    /*Main*/
    #Header {
        padding-top: 20%;
        height:auto;
    }

    #Header p {
        line-height: 20px;
        font-size: 0.8em;
    }

    #Header h1 {
        font-size: 1.5em;
    }


    #main {
        margin: 0;
        height: auto;
    }

    #title {
        font-size: 1em;
        color: gray;
    }

    #right {
        float: none;
        width: 100%;

    }

    #left {
        float: none;
        bottom: 0%;
        width: 100%;
        padding-top: 5%;
    }

    #video {
        width: 100%;
        height:auto;
        padding-top:5%;
        padding-bottom:5%;
    }

    img {
        width: 100%;
    }

    .button a {
        font-size: 1em;
        text-decoration: none;
        color: black;
    }

    .button {
        padding: 5% 20% 5% 20%;
        background-color: white;
        cursor: pointer;
    }

    .button:hover {
        transform: scale(1.05);
    }

    button {
        margin-top: 3%;
    }

    #section {
        background: #F9F8F5;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 10%;
    }

    /*Header*/


    /*Music */

    #music {
        background: white;
        padding-top: 0%;
        height: auto;
        background: white;
        padding-left: 5%;
        padding-right: 5%;

    }

    #music p {
        line-height: 20px;
        font-size: 0.8em;
    }
    
    #music button{
        display: none;
    }
    /*Music */

    /*Music */

    #yellow {
        background: white;
        padding-top: 0%;
        height: auto;
        background: white;
        padding-left: 5%;
        padding-right: 5%;

    }

    
    #yellow button{
        display: none;
    }
    #yellow p {
        line-height: 20px;
        font-size: 0.8em;
    }
    
    #yellow img{
        padding-bottom: 5%;
    }

    /*Music */

    /*water */

    #water {
        background: white;
        padding-top: 10%;
        height: auto;
        background: white;
        padding-left: 5%;
        padding-right: 5%;

    }

    #water p {
        line-height: 20px;
        font-size: 0.8em;
    }

    #water #left {
        padding-top: 0%;
    }
   #water img{
       padding-top: 5%;
        padding-bottom: 5%;
    }
    /*water */
    /*main*/

    /*    footer*/

    #footer_connect {
        display: none;
    }

    #footer_work {
        display: none;
    }

    #footer_About {
        display: none;
    }


    .hide {
        display: block;
        padding: 10% 5% 5% 5%;
    }

    .small_title {
        margin-bottom: 2%;
        font-size: 0.9em;
        padding-left: 3%;
        color: white;
        line-height: 25px;
    }

    .big_title_work {
        font-size: 2em;
    }

    .copyright {
        padding-top: 40%;
        color: gainsboro;
        font-size: 0.6em;
        text-align: center;
    }

    #footer a {
        color: white;
    }

}
