* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    font-family: 'Source Sans Pro', sans-serif;

}


/* menu nava*/

.menu {
    background: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 100;
    background-color: black;
}

.menu ul {
    display: inline;
}

.menu li {
    display: table-cell;
    -webkit-transition: -webkit-transform 0.2s ease;
    text-align: center;
}

.menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 28px 15px 28px;
    text-align: center;
}

#twenty,
#fifty,
#ninty,
#onezero,
#home {
    background: black;
}

#twenty:hover,
#fifty:hover,
#ninty:hover,
#onezero:hover {
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
}

#twentyTip,
#fiftyTip,
#nintyTip,
#onezeroTip {
    color: white;
    display: none;
    font-family: 'courier';
    font-weight: lighter;
    text-align: center;
    font-size: 13px;
}

#twenty:hover #twentyTip,
#fifty:hover #fiftyTip,
#ninty:hover #nintyTip,
#onezero:hover #onezeroTip {
    position: absolute;
    bottom: -30%;
    color: white;
    display: block
}

footer {
    position: fixed;
    padding: 10px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    z-index: 400;
    font-size: 13px;
}

footer a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: white;
    padding-left: 5px;
}


/*second page*/



#chanel {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 45%;
    list-style: none;
    height: 100%;
}

#coco {
    position: fixed;
    top: 0%;
    left: 45%;
    z-index: 40;
    width: 60%;
    height: 50%;
    list-style: none;
}

#yellow {
    position: fixed;
    top: 50%;
    left: 45%;
    width: 27.5%;
    height: 50%;
    z-index: 40;
    list-style: none;
}

#black {
    position: fixed;
    top: 50%;
    left: 72.5%;
    width: 27.5%;
    height: 50%;
    z-index: 40;
    list-style: none;
}

#chanel:hover,
#coco:hover,
#black:hover,
#yellow:hover {
    cursor: pointer;
}

#chaneltext{
    opacity: 0.8;
    position: fixed;
    top: 60%;
    font-size: 15vw;
    display: none;
}

#cocotext{
    position: fixed;
    right:5%;
    top: 20%;
    font-size: 15vw;
  
}

#yellowtext{
    position: fixed;
    right:30%;
    bottom: 10%;
    font-size: 10vw;

}

#blacktext{
    position: fixed;
    right:2%;
    bottom: 10%;
    font-size: 10vw;
     
}
/*Page three */

#one {
    position: fixed;
    left: 55%;
    top: 0%;
    width: 45%;
    list-style: none;
    height: 100%;
}

#two {
    position: fixed;
    top: -10%;
    left: 0%;
    z-index: 40;
    width: 55%;
    height: 60%;
    list-style: none;
}

#three{
    position: fixed;
    top: 50%;
    left: 0%;
    z-index: 40;
    width: 55%;
    height: 60%;
    list-style: none;
}

#MM h1{
    color:black;
    font-size: 15vw;
    z-index: 500;
    position: fixed;
    bottom:5%;
    display: none;
}


/*Page four */

.contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width:100%;
}

.box {
    height: 50%;
    width: 33.333%;
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: 50% 50%;
    -webkit-transition: background-size 0.275s ease-in-out;
    transition: background-size 0.275s ease-in-out;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

.box:hover {
    background-size: 70%;
}

 .box:nth-of-type(1) {
    background-image: url(../images/1990/6.jpg) ;
}

.box:nth-of-type(2) {
    background-image: url(../images/1990/3.jpg);
}

.box:nth-of-type(3) {
    background-image: url(../images/1990/9.jpg);
}

.box:nth-of-type(4) {
    background-image: url(../images/1990/1.jpg);
}

.box:nth-of-type(5) {
    background-image: url(../images/1990/7.jpg);
}

.box:nth-of-type(6) {
    background-image: url(../images/1990/5.jpg);
}

.box-info {
    background: rgba(35, 35, 35, 0.7);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    -webkit-transition: opacity 0.45s ease-in-out;
    transition: opacity 0.45s ease-in-out;
    text-align: center;
    padding: 20% 0 0;
    font-weight: 900;
    font-size: 7vw;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color: #fff;
    opacity: 0;
    list-style: none;
    vertical-align: middle;
  
}

.box-info:hover {
    opacity: 1;
}