html {
    width: 100%;
    height: auto;
}

body {
    background: white;
    overflow: scroll;
    margin: 0px;
    font-family: Rubik;
    font-weight: 300;
    letter-spacing: 1px;

}


/*moblie nav*/
.wrapper {
    display: none;
    z-index: 99;
}

.nav-bar {
    position: fixed;
    top: 0;
    height: 6%;
    width: 100%;
    background: transparent;
    z-index: 99;
}

.logo {
    display: inline-block;
    max-width: 32%;
    padding: 1%;
}

/*hamberger menu*/

.hamberger {
    position: fixed;
    top: 2%;
    right: 5%;
    cursor: pointer;
    z-index: 1002;
    /*on top of all elements*/
}

.hamberger .line {
    background: black;
    width: 25px;
    height: 3px;
    margin-bottom: 4px;
    opacity: 1;
    border-radius: 4px;
    transition: all 0.2s ease;
}


/*nav bar down down thing*/

.menu {
    position: fixed;
    top: -250%;
    /*makes it move to the top of the web page (cant see it) */
    left: 0px;
    width: 100%;
    height: 40%;
    background: white;
    opacity: 1;
    z-index: 1001;
    transition: all 0.5s ease;
}

.menu-item {
    list-style: none;
    text-align: center;
    margin-top: 60px;
    padding: 0px;
}

.menu-item li {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    color: black;
}

.menu-item li a {
    color: black;
    text-decoration: none;
}


.menu.menu-active {
    top: 0;
}

/*Creating x close button*/
.hamberger .top.hamberger-top {
    transform: translateY(250%) rotate(135deg);
}

.hamberger .bottom.hamberger-bottom {
    transform: translateY(-200%) rotate(-135deg);
}

.hamberger .center.hamberger-center {
    opacity: 0;
}


/*mobile nav*/

/*Header*/

#Header {
    background: white;
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 30%;
}

#Header img {
    width: 100%;
}

#content {
    line-height: 25px;
    font-size: 16px;
    letter-spacing: 0px;
}

#Header #logo {
    width: 10%;
    margin: 0px;
    padding: 0px;
}

#title {
    font-size: 0.9em;
    color: grey;
    letter-spacing: 2px;
    font-weight: 400;
}

#brief {
    padding-top: 14%;
}

#overview {
    float: left;
    width: 55%;
}

#role {
    float: right;
    padding-right: 10%;
}

#role #content {
    line-height: 30px;
}


#button {
    padding: 4% 10% 4% 10%;
    background-color: white;
    border: solid 2px #19A58E;
    border-radius: 5px;
    color: #19A58E;
    font-size: 1em;
    cursor: pointer;
}

#button:hover {
    color: white;
    background-color: #19A58E;
    transition: 2s;
}

#Header a {
    text-decoration: none;
}

/*Header*/

/*Main*/
#main {
    margin: 0;
    height: auto;
    padding-left: 15%;
    padding-right: 15%;
}


#main img {
    width: 100%;
}

/*process*/
#process li {
    display: inline-block;
    list-style: none;
    text-align: center;
}

#center {
    padding-right: 22%;
    padding-left: 22%;
}

hr.solid {
    border-top: 0.5px solid #bbb;
}

#process {
    width: 100%;
    padding-top: 10%;
    height:auto;
}

#process #title {
    text-align: center;
}

#DesignProcess h1 {
    color: #19A58E;
    font-size: 3em;
}


#subtitle {
    font-size: 0.9em;
    color: grey;
    letter-spacing: 2px;
    font-weight: 400;
}


/*research*/

#research {
    height: auto;
    background-color: #F3F3F3;
}

#subtitle {
    text-align: center;
    padding-top: 10%;
}

#big-title {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}

#research #content {
    width: 60%;
    padding-left: 22%;
    padding-right: 18%;
    color: #484646;
}

#research img {
    width: 100%;
}

/*sketch*/

#sketch {
    height: auto;
    background-color: #F3F3F3;
    margin: 0px;
    padding: 0px;

}

#sketch #content {
    width: 60%;
    padding-left: 22%;
    padding-right: 18%;
    color: #484646;
}




/* Slideshow container */
.slideshow-container {
    margin: 0px;
    padding: 0px;
}

/* Hide the images by default */
.mySlides {
    display: none;

}

#left {
    text-align: left;
    margin-top: -40%;
}

#right {
    text-align: right;
    margin-top: -2%;
}

#dot {
    margin-top: 30%;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    width: 100%;
    padding: 5%;
    color: black;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 99;
}


/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Caption text */
.text {
    color: black;
    font-size: 15px;
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
}


/* The dots/bullets/indicators */
.dot {
    visibility: hidden;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/*prototype*/
#prototype {
    height: auto;
    background-color: #F3F3F3;
    margin: 0px;
    padding: 0% 0% 0% 0%;

}

#prototype #content {
    width: 60%;
    padding-left: 22%;
    padding-right: 18%;
    color: #484646;
}

#prototype a {
    color: #19A58E;
}


/*Main*/






/*navigation*/
.nav {
    position: fixed;
    font-family: 'Comfortaa';
    z-index: 100;
    width: 100%;
    margin: 0px;
    text-align: right;
    letter-spacing: 1px;
    padding: 45px 0px 0px 0px;
    display: block;
    font-weight: 500;
    font-size: 14px;
}

.nav li {
    display: inline;
    padding-right: 3%;
}

.nav li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.nav li a:hover {
    color: black;
}

#about,
#work,
#play {
    display: inline-block;
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: all 250ms ease;
    transform: translatez(0);
    perspective: 50px;
}


#about::before,
#work::before,
#play::before {
    content: attr(data-buzz);
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    transition: all 150ms ease;
}

#about::before {
    color: #c998db;
}

#work::before {
    color: #C48B54;
}
#play::before {
    color: #4F7663;
}

#about:hover::before,
#work:hover::before,
#play:hover::before {
    transform: rotatex(-15deg) rotatey(5deg) scale(1.15);
}

#active {
    color: white;
}

#active: hover {
    display: none;
    cursor: auto;
}

/*navigation*/

/*footer*/
#footer {
    font-family: roboto;
    height: auto;
    padding-bottom: 30%;
}


#footer {
    background: black;
}

#footer_work {
    line-height: 2em;
    float: left;
    padding-top: 5%;
    padding-left: 10%;
    width: 40%;
    color: rgba(255, 255, 255, 0.6);
}

#footer_About {
    float: right;
    padding-top: 5%;
    padding-right: 5%;
    width: 35%;
    color: rgba(255, 255, 255, 0.6);
}

#footer_connect {
    float: right;
    padding-right: 5%;
    width: 35%;
    color: rgba(255, 255, 255, 0.6);
}

.big_title_work {
    background: -webkit-linear-gradient(left, #efe0a3, #eaabc8, #91b6ea, #aba7fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    padding-left: 3%;
}

.big_title_about {
    background: -webkit-linear-gradient(left, #eaabc8, #91b6ea, #91b6ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    padding-left: 3%;
}

.big_title_connect {
    background: -webkit-linear-gradient(left, #aba7fc, #efe0a3, #efe0a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    padding-left: 3%;
}

.small_title {
    margin-bottom: 2%;
    font-size: 1em;
    padding-left: 3%;
}

#footer_work a:hover {
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

#footer_About li {
    display: inline;
    text-decoration: none;
    padding-right: 5%;
}


#footer_work li {
    display: inline;
    text-decoration: none;
    padding-right: 3%;
    padding-left: 3%;
}

#footer_connect li {
    display: inline;
    text-decoration: none;
    padding-right: 8%;
}

#footer_About a:hover {
    color: white;
    cursor: pointer;
}

#footer_connect a:hover {
    color: white;
    cursor: pointer;
}

#footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
}
#copyright{
    padding-top:14%;
}

/*logo*/
#logo {
    float: left;
    width: 4%;
    margin-left: 30px;
    margin-top: -20px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

/*logo*/
.hide {
    display: none;
}

/*footer*/

/*--------------------------------------moblie--------------------------------------*/



@media screen and (max-width: 500px) {


    /*    menu*/
    .wrapper {
        display: block;
        z-index: 99;
    }

    .nav {
        visibility: hidden;
    }

    /*    menu*/

    /*Main*/

    /*Header*/
    #Header {
        background: white;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20%;
    }

    #Header img {
        width: 100%;
    }

    #content {
        line-height: 25px;
        font-size: 1em;
        letter-spacing: 0px;
    }

    #Header #logo {
        width: 50%;
        margin: 0px;
        padding: 0px;
    }

    #title {
        font-size: 0.9em;
        color: grey;
        letter-spacing: 2px;
        font-weight: 400;
    }

    #brief {
        padding-top: 14%;
    }

    #overview {
        float: none;
        width: 100%;
        padding-top: 50%;
    }

    #role {
        float: none;
        padding-right: 0%;
    }

    #role #content {
        line-height: 30px;
    }


    #button {
        display: none;
    }


    #Header a {
        text-decoration: none;
    }


    /*Header*/

    /*Main*/
    #main {
        margin: 0;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
    }


    #main img {
        width: 100%;
    }


    #side,
    #center {
        padding-left: 22%;
        padding-right: 22%;

    }



    /*research*/

    #research {
        height: auto;
        background-color: #F3F3F3;
    }

    #subtitle {
        text-align: center;
        padding-top: 10%;
    }

    #big-title {
        text-align: center;
        font-size: 1em;
        font-weight: 400;
    }

    #research #content {
        width: 90%;
        padding-left: 5%;
        padding-right: 2%;
        color: #484646;
    }

    #research img {
        width: 100%;
    }

    /*sketch*/
    #sketch {
        height: auto;
        background-color: #F3F3F3;
    }


    #sketch #content {
        width: 95%;
        padding-left: 5%;
        padding-right: 2%;
        color: #484646;
    }

    .dot {
        visibility: hidden;
    }

    #left {
        text-align: left;
        margin-top: -40%;
    }

    #right {
        text-align: right;
        margin-top: -11%;
    }

    
    /*prototype*/
#prototype {
    height: auto;
    background-color: #F3F3F3;
    margin: 0px;
    padding: 0% 0% 0% 0%;

}

#prototype #content {
    width: 90%;
    padding-left: 5%;
    padding-right: 5$;
    color: #484646;
}

#prototype a {
    color: #19A58E;
}


    
    
    /*Main*/

    /*    footer*/

    #footer_connect {
        display: none;
    }

    #footer_work {
        display: none;
    }

    #footer_About {
        display: none;
    }


    .hide {
        display: block;
        padding: 10% 5% 5% 5%;
    }

    .small_title {
        margin-bottom: 2%;
        font-size: 0.9em;
        padding-left: 3%;
        color: white;
        line-height: 25px;
    }

    .big_title_work {
        font-size: 2em;
    }

    .copyright {
        padding-top: 40%;
        color: gainsboro;
        font-size: 0.6em;
        text-align: center;
    }

    #footer a {
        color: white;
    }
}

/*-------------------------------500~700---------------------------------------------*/
@media screen and (min-width:500px) and (max-width:700px) {

    #process li {
        display: block; 
    }

#overview {
float: none;
width: 100%;
}

#role {
padding-top:5%;
float: none;
padding-right: 10%;
}

/* menu */
    #logo{
        width:6%;
        padding-top:3%;
    }
    .nav {
        padding: 5% 0px 0px 0px;
        font-size: 14px;
    }
    .title {
        font-size: 1em;
    }
/* footer */
#footer_connect {
    display: none;
}

#footer_work {
    display: none;
}

#footer_About {
    display: none;
}
.hide {
    display: block;
    padding: 10% 5% 5% 5%;
}
.small_title {
    margin-bottom: 2%;
    font-size: 0.9em;
    padding-left: 3%;
    color: white;
    line-height: 25px;
}
.big_title_work {
    font-size: 2em;
}
.copyright {
    padding-top: 40%;
    color: gainsboro;
    font-size: 0.6em;
    text-align: center;
}
#footer a {
    color: white;
}
/* footer */
    }

/*-------------------------------700~900---------------------------------------------*/
    @media screen and (min-width:700px) and (max-width:900px) {

        #process li {
            display: block; 
        }

#overview {
    float: none;
    width: 100%;
}

#role {
    padding-top:5%;
    float: none;
    padding-right: 10%;
}

    
     /* menu */
        #logo{
            width:6%;
            padding-top:3%;
        }
        .nav {
            padding: 5% 0px 0px 0px;
            font-size: 14px;
        }
        .title {
            font-size: 1.5em;
        }  
    /* footer */
    .big_title_work {
        font-size: 2.5em;
    }
    
    .big_title_about {
        font-size: 2.5em;
    }
    
    .big_title_connect {
        font-size: 2.5em;
    }
    #footer_work {
        line-height: 2em;
        padding-left: 5%;
        width: 55%;
    }
    #footer_About {
        padding-right: 0%;
        width: 35%;
    }
    
    #footer_connect {
        padding-right: 0%;
        width: 35%;
    }
    #footer{
        font-size: 0.8em;
        padding-bottom: 40%;
     }
     #copyright{
         padding-top:8%;
         font-size: 0.5em;
     }
    /* footer */
        }

/*-------------------------------900~1100---------------------------------------------*/
@media screen and (min-width:900px) and (max-width:1100px) {
    #center {
        padding-right: 5%;
        padding-left: 5%;
    }
/* footer */
.small_title {
    margin-bottom: 5%;
    padding-left: 3%;
    line-height: 25px;
}
.big_title_work {
    font-size: 3em;
}

.big_title_about {
    font-size: 3em;
}

.big_title_connect {
    font-size: 3em;
}
#footer_work {
    line-height: 3em;
    padding-left: 5%;
    width: 55%;
}
#footer_About {
    padding-right: 0%;
    width: 35%;
}

#footer_connect {
    padding-right: 0%;
    width: 35%;
}
#footer{
    font-size: 0.9em;
    padding-bottom: 40%;
 }
 #copyright{
     padding-top:8%;
     font-size: 0.7em;
 }
/* footer */   
}
    
/*-------------------------------1100~1300---------------------------------------------*/  
@media screen and (min-width:1100px) and (max-width:1300px) {
    #center {
        padding-right: 13%;
        padding-left: 13%;
    }
/* footer */
.big_title_work {
    font-size: 3em;
}

.big_title_about {
    font-size: 3em;
}

.big_title_connect {
    font-size: 3em;
}
#footer_work {
    padding-left: 5%;
    width: 55%;
}
#footer_About {
    padding-right: 0%;
    width: 35%;
}

#footer_connect {
    padding-right: 0%;
    width: 35%;
}
#footer{
    font-size: 0.9em;
    padding-bottom: 40%;
 }
 #copyright{
     padding-top:12%;
     font-size: 0.9em;
 }
/* footer */   
    }

/*-------------------------------1300~1600---------------------------------------------*/ 

@media screen and (min-width:1300px) and (max-width:1600px) {
    #center {
        padding-right: 18%;
        padding-left: 18%;
    }
/* footer */
.big_title_work {
    font-size: 3em;
}

.big_title_about {
    font-size: 3em;
}

.big_title_connect {
    font-size: 3em;
}
#footer_work {
    padding-left: 5%;
    width: 55%;
}
#footer_About {
    padding-right: 0%;
    width: 35%;
}

#footer_connect {
    padding-right: 0%;
    width: 35%;
}
#footer{
    font-size: 1em;
    padding-bottom: 40%;
 }
 #copyright{
     padding-top:10%;
     font-size: 1em;
 }
/* footer */
    }