html {
    width: 100%;
    height: auto;
}

body {
    /*    background-image: linear-gradient(to bottom right, #FFFCEC 20%, #FFF4FE, #EEF4FE, #F4F0FF);*/
    background: white;
    overflow: scroll;
    margin: 0px;
    font-family: Roboto;
    font-weight: 300;
    letter-spacing: 1px;

}


/*moblie nav*/
.wrapper {
    display: none;
    z-index: 99;
}

.nav-bar {
    position: fixed;
    top: 0;
    height: 6%;
    width: 100%;
    background: transparent;
    z-index: 99;
}

.logo {
    display: inline-block;
    max-width: 32%;
    padding: 1%;
}

/*hamberger menu*/

.hamberger {
    position: fixed;
    top: 2%;
    right: 5%;
    cursor: pointer;
    z-index: 1002;
    /*on top of all elements*/
}

.hamberger .line {
    background: black;
    width: 25px;
    height: 3px;
    margin-bottom: 4px;
    opacity: 1;
    border-radius: 4px;
    transition: all 0.2s ease;
}


/*nav bar down down thing*/

.menu {
    position: fixed;
    top: -250%;
    /*makes it move to the top of the web page (cant see it) */
    left: 0px;
    width: 100%;
    height: 40%;
    background: white;
    opacity: 1;
    z-index: 1001;
    transition: all 0.5s ease;
}

.menu-item {
    list-style: none;
    text-align: center;
    margin-top: 60px;
    padding: 0px;
}

.menu-item li {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    color: black;
}

.menu-item li a {
    color: black;
    text-decoration: none;
}


.menu.menu-active {
    top: 0;
}

/*Creating x close button*/
.hamberger .top.hamberger-top {
    transform: translateY(250%) rotate(135deg);
}

.hamberger .bottom.hamberger-bottom {
    transform: translateY(-200%) rotate(-135deg);
}

.hamberger .center.hamberger-center {
    opacity: 0;
}


/*mobile nav*/

/*Header*/
#big_title {
    font-size: 2.5em;
}

#section {
    height: 15vh;
    padding-top: 2%;
    padding-left: 25%;
    padding-right: 25%;
}

#Header {
    background: white;
    height: 120vh;
}

#Header img {
    padding-top: 7%;
    width: 100%;
}

#title {
    font-size: 1em;
    color: #F26E53;
}

#role {
    float: right;
    padding-right: 10%;
}

#overview {
    float: left;
    width: 65%;
}

#Header p {
    line-height: 20px;
    font-size: 0.9em;
}

#sub_title {
    color: #C4C4C4;
    font-size: 20px;
    font-weight: 300;
}

/*Header*/

/*Main*/
#main {
    margin: 0;
    padding-left: 25%;
    padding-right: 25%;
}

#main-big {
    margin: 0;
    padding-left: 15%;
    padding-right: 15%;
}

#main p {
    float: left;
    font-size: 1.1em;
    line-height: 30px;
}

#main h2 {
    float: left;
    font-size: 1.1em;
    line-height: 30px;
    font-weight: 300;
}

#main li {
    float: left;
    font-size: 1.1em;
    line-height: 30px;
}

#main img {
    width: 100%;
}


#main-big img {
    width: 100%;
}

#main-big iframe {
    width: 100%;
}

span {
    font-weight: 500;
}

#inspiration img {
    float: left;
    width: 30%;
    padding-right: 8%;

}

#inspiration p {
    float: right;

}

#userresearch,
#research,
#analysis,
#ideation,
#design,
#test {
    padding-top: 20%;
}

.button {
    background: #F8CE89;
    padding: 1em 2em 1em 2em;
    border-radius: 50px;
    text-decoration: none;
    color: white;
}

#survey {
    position: relative;
}

#feature1 {
    background-color: #FBFBFB;
}



#feature2 {
    background-color: #EEECFE;
}

#feature2 img {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}


#feature3 {
    background-color: #FCF4E7;
}

#feature3 img {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}

a {
    color: black;
}


/*Main*/






/*navigation*/
.nav {
    position: fixed;
    font-family: 'Comfortaa';
    z-index: 100;
    width: 100%;
    margin: 0px;
    text-align: right;
    letter-spacing: 1px;
    padding: 45px 0px 0px 0px;
    display: block;
    font-weight: 500;
    font-size: 14px;
}

.nav li {
    display: inline;
    padding-right: 3%;
}

.nav li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.nav li a:hover {
    color: black;
}

#about,
#work,
#play {
    display: inline-block;
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: all 250ms ease;
    transform: translatez(0);
    perspective: 50px;
}


#about::before,
#work::before,
#play::before {
    content: attr(data-buzz);
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    transition: all 150ms ease;
}

#about::before {
    color: #c998db;
}

#work::before {
    color: #C48B54;
}
#play::before {
    color: #4F7663;
}

#about:hover::before,
#work:hover::before,
#play:hover::before {
    transform: rotatex(-15deg) rotatey(5deg) scale(1.15);
}


#active {
    color: white;
}

#active: hover {
    display: none;
    cursor: auto;
}

/*navigation*/

/*footer*/
#footer {
    height: 50vh;
}

#footer {
    background: black;
}

#footer_work {
    line-height: 2em;
    float: left;
    padding-top: 5%;
    padding-left: 10%;
    width: 35%;
    color: rgba(255, 255, 255, 0.6);
}

#footer_About {
    float: right;
    padding-top: 5%;
    padding-right: 5%;
    width: 35%;
    color: rgba(255, 255, 255, 0.6);
}

#footer_connect {
    float: right;
    padding-right: 5%;
    width: 35%;
    color: rgba(255, 255, 255, 0.6);
}

.big_title_work {
    background: -webkit-linear-gradient(left, #efe0a3, #eaabc8, #91b6ea, #aba7fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    padding-left: 3%;
}

.big_title_about {
    background: -webkit-linear-gradient(left, #eaabc8, #91b6ea, #91b6ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    padding-left: 3%;
}

.big_title_connect {
    background: -webkit-linear-gradient(left, #aba7fc, #efe0a3, #efe0a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    padding-left: 3%;
}

.small_title {
    margin-bottom: 2%;
    font-size: 1em;
    padding-left: 3%;
}

#footer_work a:hover {
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

#footer_About li {
    display: inline;
    text-decoration: none;
    padding-right: 5%;
}


#footer_work li {
    display: inline;
    text-decoration: none;
    padding-right: 3%;
    padding-left: 3%;
}

#footer_connect li {
    display: inline;
    text-decoration: none;
    padding-right: 8%;
}

#footer_About a:hover {
    color: white;
    cursor: pointer;
}

#footer_connect a:hover {
    color: white;
    cursor: pointer;
}

#footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}


/*logo*/
#logo {
    float: left;
    width: 4%;
    margin-left: 30px;
    margin-top: -20px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

/*logo*/
.hide {
    display: none;
}
/*footer*/

/*--------------------------------------moblie--------------------------------------*/



@media screen and (max-width: 500px) {


    /*    menu*/
    .wrapper {
        display: block;
        z-index: 99;
    }

    .nav {
        visibility: hidden;
    }

    /*    menu*/

    /*Main*/

    /*Header*/
    #big_title {
        font-size: 1em;
    }

    #section {
        height: auto;
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
    }

    #Header {
        background: white;
        height: auto;
    }

    #Header img {
        padding-top: 0%;
        width: 100%;
    }

    #title {
        font-size: 1em;
    }

    #role {
        float: none;
        padding-right: 0%;
    }

    #overview {
        float: none;
        width: 100%;
    }

    #Header p {
        line-height: 30px;
        font-size: 1em;
    }

    #sub_title {
        color: #C4C4C4;
        font-size: 1em;
        font-weight: 300;
    }


    /*Header*/

    /*Main*/
    #main {
        margin: 0;
        padding-left: 5%;
        padding-right: 5%;
    }

    #main-big {
        margin: 0;
        padding-left: 5%;
        padding-right: 5%;
    }

    #main p {
        float: none;
        font-size: 1em;
        line-height: 30px;
    }

    #main h2 {
        float: none;
        font-size: 1em;
        line-height: 30px;
        font-weight: 300;
    }

    #main li {
        float: none;
        font-size: 1em;
        line-height: 30px;
    }

    #main img {
        width: 100%;
    }


    #main-big img {
        width: 100%;
    }

    #main-big iframe {
        width: 100%;
    }

    span {
        font-weight: 500;
    }

    #inspiration img {
        float: none;
        width: 100%;
        padding-right: 0%;

    }

    #inspiration p {
        float: none;

    }

    #userresearch,
    #research,
    #analysis,
    #ideation,
    #design,
    #test {
        padding-top: 5%;
    }

    #survey {
        position: relative;
    }

    #feature1 {
        background-color: #FBFBFB;
    }



    #feature2 {
        background-color: #EEECFE;
    }

    #feature2 img {
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
    }


    #feature3 {
        background-color: #FCF4E7;
    }

    #feature3 img {
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
    }

    a {
        color: black;
    }

    /*Main*/

    /*    footer*/

    #footer_connect {
        display: none;
    }

    #footer_work {
        display: none;
    }

    #footer_About {
        display: none;
    }


    .hide {
        display: block;
        padding: 10% 5% 5% 5%;
    }

    .small_title {
        margin-bottom: 2%;
        font-size: 0.9em;
        padding-left: 3%;
        color: white;
        line-height: 25px;
    }

    .big_title_work {
        font-size: 2em;
    }

    .copyright {
        padding-top: 40%;
        color: gainsboro;
        font-size: 0.6em;
        text-align: center;
    }

    #footer a {
        color: white;
    }
}
