@import url('https://fonts.googleapis.com/css?family=Nunito');

@mixin spins($spin) {
    transform: rotate(0deg);
    transform: rotate(720deg + $spin * 36deg);

}


body {
    background: #F7C9D9;
    font-family: Nunito;
    box-sizing: border-box;
}

#container {
    width: 600px;
    margin: 0 auto;
    display: block;
}



.wrapper {
    padding-top: 100px;
    margin: 0 0 30px;
    position: relative;
}

.pointer-wrapper {
    position: absolute;
    top: 80px;
    left: 44%;
    z-index: 1;
}

.button {
    margin: 0 0 40px;
}

button:focus {
    outline: none;
}

.btn {
    display: block;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    width: 250px;
    height: 60px;
    color: #ffffff;
    background: #B8D8D7;
    box-shadow: 2px 2px rgb(0, 0, 0, 0.1);
}

.btn:hover {
    background: #F0B16A;

}

.btn:focus {
    outline: 0;
}

.images {
    display: none;
    position: absolute;
    z-index: 99;
    top: 8%;
    left: 20%;
    width: 900px;
}


#sugar h1 {
    position: absolute;
    bottom: 5%;
    padding: 20px;
    right: 10%;
    font-size: 20px;
    background-color: #F9E1EA;
    border-radius: 10px;
}

#sugar h1:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #F9E1EA;
    position: absolute;
    bottom: 20px;
    right: -20px;
    -ms-transform: rotate(150deg);
    /* IE 9 */
    -webkit-transform: rotate(150deg);
    /* Chrome, Safari, Opera */
    transform: rotate(150deg);

}

#sugar img {
    position: absolute;
    bottom: 1%;
    right: 2%;
    float: right;
}

#sugar{
    display: block;
}
#tickets {
    display: none;
}

.words {
    float: left;
}

#page-wrap {
    width: 550px;
    margin: 0 auto;
    padding-top: 20px;
    position: absolute;
    top: 77%;
    left: 34%;
    z-index: 99;
}

#spinagain {
    cursor: pointer;
    z-index: 99;
    position: absolute;
    top: 88%;
    left: 64%;
    color: rgba(0, 0, 0, .5);
}

#final-page {
    display: none;
    position: absolute;
    top: 35%;
    left: 25%;
    text-align: center;
}

#well {
    border-radius: 50px;
    background: rgba(255, 255, 255, .8);
    border: 2px solid #fff .8;
    overflow: hidden;

    -webkit-user-select: none;
}

h2 {
    background: -moz-linear-gradient(left, #4d4d4d, 0.4, #4d4d4d, 0.5, white, 0.6, #4d4d4d, #4d4d4d);
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #AAA5A5), color-stop(0.4, #AAA5A5), color-stop(0.5, white), color-stop(0.6, #AAA5A5), color-stop(1, #AAA5A5));
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-animation: slidetounlock 5s infinite;
    font-size: 24px;
    width: 200%;
    -webkit-text-size-adjust: none;
}

#slider {
    padding: 0px 0px 20px 0px;
    background: url(images/arrow.png) no-repeat;
    width: 80px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

@-webkit-keyframes slidetounlock {
    0% {
        background-position: -720px 0;
    }

    100% {
        background-position: 720px 0;
    }
}
