body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
}

#mainCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/*
#insideRing {
	opacity: 0;
	position: fixed;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 1px solid #666;
	line-height: 71px;
	font-weight: 300;
	font-size: 17px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	color: #666;
	z-index: 1000;
	text-align: center;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}
*/

/*
.full {
	opacity: 1 !important;
}
*/

#logoLegend {
    color: #b7a261;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    text-align: center;
    font-size: 12px;
    padding: 20px;
    width: 100%;
    height: 90vh;
}


#key {
    position: absolute;
    right: 20%;
    left: 20%;
    bottom: 5%;

}

#key h1 {
    font-size: 15px;
}

. .legend {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.legend li {
    padding-left: 1%;
    padding-right: 1%;
    display: inline-block;
}

.legend li:hover {
    cursor: pointer;
}

.legend li:hover span {
    border-bottom: 1px solid #999;
}

.legend li div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: left;
    margin: 4px 4px 0 0;
    box-sizing: border-box;
}

#year {
    position: absolute;
    bottom: 23%;
    color: gainsboro;
    font-size: 8px;
}

#year li {
    text-decoration: none;
    display: inline-block;
    padding-right: 70px;
    padding-left: 60px;
}

#ethnicity {
    display: block;
}

#gender {
    display: none;
}

#genre {
    display: none;
}

.dropdown select {
    width: 15%;
    background: none;
    color: #b7a261;
    background: none;
    border: 1px solid #b7a261;
    font-size: 1.25em;
    margin:1em 1em 1em 1em;
}

#selector:focus{
    outline:none;
}

#all div {
    background-color: transparent;
    border: 1px solid #fff;
}

#white div {
    background-color: #fad6ac;
}

#black div {
    background-color: #8a522c;
}

#asian div {
    background-color: #ffc800;
}

#hispanic div {
    background-color: #EC9770;
}

#middleeastern div {
    background-color: #80BB76;
}

#multiracial div {
    background-color: #D251CD;
}

#other div {
    background-color: #777;
}




#pop div {
    background-color: #D20000;
}

#rap div {
    background-color: #218708;
}

#rb div {
    background-color: #DC592A;
}

#latin div {
    background-color: #2D6EBA;
}

#dance div {
    background-color: #F69AED;
}

#country div {
    background-color: #CAE55A;
}

#rock div {
    background-color: #7500AC;
}



#male div {
    background-color: #183A90;
}

#female div {
    background-color: #E85151;
}

#mix div {
    background-color: #8420C1;
}







a,
a:visited {
    color: #b7a261;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #b7a261;
}

a.morelink {
    text-decoration: none;
    outline: none;
}

.morecontent span {
    display: none;
}

.comment {
    width: 400px;
    background-color: #f0f0f0;
    margin: 10px;
    margin: 0 100px 50px 0;
}

#tooltipPanel {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;
    /*font-family: monospace;*/
    /*background-color: #333;*/
    text-align: right;
    font-size: 12px;
    color: #999;
    padding: 20px;
    width: 20vw;
    min-height: 200px;
}

p {
    margin: 0;
    clear: both;
}

/*
#tooltipPpl {}

#tooltipMovie {}

.tooltip-pplPortrait {
    width: 214px;
    height: 317px;
    width: 10vw;
    height: auto;
    position: relative;
    float: right;
}

.tooltip-pplName {
    color: #fff;
    font-size: 13pt;
    font-weight: 800;
    text-transform: uppercase;
    text-align: right;
}

.tooltip-ethnicity {
    color: #fff;
    margin-bottom: 30px
}

.tooltip-movieProperties {
    float: right;
    width: 14vw;
    margin-right: 10px
}

.tooltip-movieRating,
.tooltip-movieYear,
.tooltip-movieGenre {
    color: #fff;
}

.tooltip-movieThumb {
    float: right;
    margin: 5px 0px 0 0;
}

.tooltip-movieTitle {
    color: #fff;
    font-size: 13pt;
    font-weight: 800;
    text-transform: uppercase;
}

.tooltip-movieTitle a {
    text-decoration: none;
    color: #fff;
}

.tooltip-movieTitle a:hover {
    border-bottom: 1px solid #999;
    color: #b7a261;
}
*/
